#root {
  margin: 0 auto;
  padding:2rem;
  text-align: center;
  --wenge: #65524dff;
  --cool-gray: #817e9fff;
  --cambridge-blue: #7fc29bff;
  --light-green: #b5ef8aff;
  --mindaro: #d7f171ff;
  font-family: "Arvo", serif;
}
body{
  margin: 0;
}

.formContainer#false,.profile>button#true{
  display:none;
}
.formContainer#true,.profile>button#false{
  display: inline;
}
.profilePic{
  max-width: 200px;
}
.avatar{
  max-width: 50px;
}