#root {
  margin: 0;
  text-align: center;
  --wenge: #65524dff;
  --cool-gray: #817e9fff;
  --cambridge-blue: #7fc29bff;
  --light-green: #b5ef8aff;
  --mindaro: #d7f171ff;
  font-family: "Arvo", serif;
  box-sizing: border-box;
  
}
body{
  margin: 0;
}
.navBar{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--wenge);
  color: white;
  font-size: 20px;
  padding: 10px 20px;
}
.navBar>.routes,.navBar>.user{
  display: flex;
  gap:15px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.routes>a,.user>a{
  text-decoration: none;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap:5px;
  align-items: center;
}
.user>button{
  background-color: var(--light-green);
  border:0px;
  font-size: 15px;
  border-radius: 2px;
  padding:5px 10px;
  color:var(--wenge)
}
button:hover{
  box-shadow: 0px 0px 5px 0px #000000;
}
h1,h2{
  font-weight: 100;
}

.notLoggedIn,.login,.signUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap:10px;
  padding: 25px;
  position: absolute;
  left: 50%;
  top:20%;
  transform: translate(-50%, 50%);
  background-color: var(--cambridge-blue);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px var(--wenge);
  color:white

}
.notLoggedIn>div>a{
  color: white;
}
.login{
  min-height: 220px;
}
.signUp{
  padding:25px;
  top:5%;
  max-width: 280px;

}
.login>form>button,.signUp>form>button{
  background-color: var(--mindaro);
  border:0px;
  font-size: 15px;
  border-radius: 2px;
  padding:5px 10px;
  color:var(--wenge);
  align-self: flex-end;
  margin: 0 auto;
}
.login>form,.signUp>form{
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: 15px;
}
p{
  margin: 0px;
  display: flex;
}
p>ul>li{
  text-wrap:wrap;

}
.login>form>div,.signUp>form>div{
  display: flex;
  gap:10px;
  align-self: flex-end;
}

ul{
  padding:0px;
  margin: 0px;
}
.errorList>ul{
  color:rgb(180, 23, 23)
}
li{
  list-style-type: none;
}
.errorList{
  height:55px
}
.conversations{
  display: grid;
  grid-template-columns: 1fr 3fr;
  
}

.conversationCards{
  background-color: var(--cambridge-blue);
  border-right: 1px solid rgba(0, 0, 0, 0.5);

}

.findUser{
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:5px;
  align-items: center;
  border-radius: 1px;

}
.findUser>button{
  background-color: var(--cool-gray);
  border:.5px black solid;
  font-size: 12px;
  border-radius: 2px;
  padding: 5px;
}
.findUser>input{
  border-radius: 2px;
  font-size: 12px;
  padding:5px;
  border-radius: 5px;
}
.findUser>input:focus{
  border:0px;
}

input,button{
  font-family: "Arvo", serif;
}
textarea{
  font-family: "Arvo", serif;
  padding:5px;
  border-radius: 5px;
  

}
.conversationCards>ul{
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
  overflow-y:auto;
}
.conversationCards>ul>li{
  display: flex;
  padding: 15px 5px 15px 20px;
  border-radius: 1px;
  box-shadow: 0px 1px 0px 1px rgba(129, 126, 159, 0.315); 
  justify-content: space-between;
}
.conversationCards>ul>li>a{
  font-size: 12px;
  color: white;
}
.imageAndName{
  display: flex;
  align-items: center;
  gap:10px
}
.currentConversation{
  display: flex;
  flex-direction: column;
}
.currentConversation>ul{
  height: calc(100vh - 240px);
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  gap:15px;

  background-color: rgba(219, 216, 216, 0.555)
}
.currentConversation>a{
  font-size: 20px;
  color: black;
  padding:10px 5px;
  box-shadow: 5px 0px 5px 2px var(--wenge);
}
.message{
  display: flex;
  gap:5px;
  align-items: center;
}
.message#true{
  justify-content: flex-end;
}
.message#false{
  justify-content: flex-start;
}
.textAndTime{
  
  padding: 15px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:5px;
  max-width: 60%;
}
.message#true>.textAndTime{
  background-color: var(--cambridge-blue);
}
.message#false>.nameAndTime>.textAndTime{
  background-color: var(--cool-gray);
}
.text{
  font-size: 15px;
}
.time{
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}
.currentConversation>form{
  padding:15px;
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0px 0px 1px rgba(129, 126, 159, 0.459); 
}
.currentConversation>form>textarea{
  width:80%;
  font-size: 15px;
  border:1px solid black;
}
.currentConversation>form>button{
  border-radius: 5px;
  background-color: var(--light-green);
  padding:5px;
  
}
.formContainer#false,.profile>button#true{
  display:none;
}
.formContainer#true,.profile>button#false{
  display: inline;
}
.avatar{
  width: 40px;
  height: 40px;
}
.profilePic{
  width: 200px;
  height: 200px;
}
.profilePic,.avatar{
  border-radius: 50%;
  border: var(--cool-gray) 2px solid;
}
.profile{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap:15px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

form.updateProfile{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  flex-wrap: wrap;
  padding:15px;

}
form.updateProfile>.bio,form.updateProfile>.file{
  display: flex;
  gap:5px;
  flex-wrap: wrap;

  align-items: center;
}
form.updateProfile>.bio>textarea{
  min-width: 200px;
}
form.updateProfile>button,.profile>button{
  background-color: var(--light-green);
  font-size: 15px;
  border-radius: 5px;
  padding:5px 10px;
  color:var(--wenge);

}
.formContainer>h2,.profile>h2{
  margin:0px;
  padding:5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;


}
.loading{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  justify-content: center;
  font-size: 25px;
}
.loadingImage{
  width: 100px;
  animation: rotating 2s linear  infinite ;
}
@keyframes rotating { 
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}